  <!DOCTYPE html>
  <html>
  <head>
    <title>Online Voting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="container">
      <h1>Vote for Your Favorite Candidate</h1>
    <form action="/vote" method="post">
  <div class="candidate">
    <input type="radio" name="party" value="tdp" id="tdp">
    <label for="tdp">
      <img src="/static/images/CBN.jpg" alt="Chandra Babu Naidu" class="leader-img">
      Telugu Desam Party (TDP)
    </label>
  </div>

  <div class="candidate">
    <input type="radio" name="party" value="janasena" id="janasena">
    <label for="janasena">
      <img src="/static/images/KALYAN.jpg" alt="Pawan Kalyan" class="leader-img">
      JanaSena Party
    </label>
  </div>

  <div class="candidate">
    <input type="radio" name="party" value="ysrcp" id="ysrcp">
    <label for="ysrcp">
      <img src="/static/images/YSRCP.jpg" alt="Y.S. Jagan Mohan Reddy" class="leader-img">
      Yuvajana Sramika Rythu Congress Party (YSRCP)
    </label>
  </div>

  <button type="submit">Vote</button>
</form>




      <footer>
        <p>&copy; 2025 Online Voting System<br>
        Developer -- <b>CODE WITH BSS</b></p>
      </footer>
    </div>
  </body>
  </html>
